<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<a href="/ronny">
    <span class="button">ronny</span> 
</a>
<span style="color:purple";>MY NAME RONNY MPUTLA IM FROM LIMPOPO MOKOPANE MAPELA SKIMMING IM 
    STUDENT ON CODE COLLEGE  FOR PROGRAMMING 
</span>

</body>
</html>